<?
    class Config {
        public $DB_HOST = 'host';
        public $DB_DBNAME = 'dbname';
        public $DB_USERNAME = 'username';
        public $DB_PASSWORD = 'password';
    
        public $SITE_PASSWORD = '123456';
    }
?>